/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 80%;
}

.flex {
    display: flex;
    justify-content: center; 
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

/* regole intestazione */
header {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 106, 0);
    position: fixed;
    z-index: 100;
}

.nav-content {
 width: calc(100% / 3);
display: flex;
align-items: center;
gap: 15px;
color: white;
}

.center {
   text-align: center;
   vertical-align: center;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

}

#logo-boolean {
    max-width: 50%;
}


/* regole parte principale */

main {
    padding-top: 120px;
    margin-bottom: 50px;
}

.main-flex {
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: normal;
}

.product {
    width: calc(100% / 3 - 20px);
}

/* regole immagine prodotto */
.image{
    position: relative;
}

.first-image {
    max-width: 100%;
}

.second-image {
    display: none;
    max-width: 100%;
}

.image:hover .first-image {
    display: none;
}

.image:hover .second-image {
    display: inline-block;
}

.label {
    position: absolute;
    left: 0px;
    bottom: 30px;
    color: white;
    font-weight: 200;
}

.discount {
    background-color: red;
    padding: 5px;
}

.sustain {
    background-color: green;
    padding: 5px;
}

.favourites {
    background-color: white;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 30px;
    font-size: x-large;
}

.favourites:hover {
    color: red;
}

/* regole testo prodotto */
.brand {
    display: block;
    color: black;
}

.model {
    display: block;
    color: black;
    font-weight: bold;
}

.discount-price {
    color: red;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
}


/* regole footer */
footer {
    background-color: rgb(26, 26, 26);
    width: 100%;
}

.foot-flex {
    justify-content: space-between;
    margin: 30px 0;
}

.info {
    min-width: 30%;
}

#info-list {
    display: flex;
    justify-content: space-between;
    font-size: x-small;
    margin-top: 5px;
}

.social {
    width: 20%;
}

.social h4 {
    color: white;
    text-align: right;
}

#social-list {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 5px;
    font-size: large;
}